@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-white bg-dark;
    font-feature-settings: "ss01", "ss02", "cv01";
  }
  * {
    @apply box-border;
  }
}

@layer utilities {
  .bg-white\/2 {
    background-color: rgba(255,255,255,0.02);
  }
  .border-white\/8 {
    border-color: rgba(255,255,255,0.08);
  }
}
